aiosmtplib==3.0.2
anyio
anyjson==0.3.3
argon2-cffi
argon2-cffi-bindings
arrow
babel
bcrypt==3.2.2
blinker==1.9.0
bottleneck
cffi
click
colour==0.1.4
cryptography
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.110.0
fastapi-mail==1.5.0
furl
greenlet
h11
httptools
idna
infinity==1.5
intervals==0.9.2
Jinja2==3.1.6
MarkupSafe==3.0.2
numexpr
numpy
orderedmultidict==1.0.1
pandas==2.2.3
passlib==1.7.4
pendulum
phonenumbers
pillow==11.2.1
psycopg2-binary==2.9.9
pyasn1==0.4.8
pycparser
pydantic==2.7.1
pydantic-settings==2.1.0
python-dateutil
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
pytz
PyYAML
qrcode==8.2
rsa==4.9.1
setuptools==72.1.0
six
sniffio
SQLAlchemy==2.0.30
SQLAlchemy-JSONField
SQLAlchemy-Utils
starlette==0.37.2
typing-inspection==0.4.1
typing_extensions
tzdata
uvicorn[standard]==0.29.0
uvloop
watchfiles
websockets
wheel==0.45.1